
#editor {
    height: 200px;
    background: white;
}

#saveButton {
    background: rgb(0,174,255);
    color: white;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1em;
    margin-top: 2em;
}

/*.sidenav {
    bottom: 5%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 0;
    background-color: grey;
    overflow-x: hidden;
    padding-top: 20px;
}*/

#liste_article {
    display: flex;
    flex-direction: column;
}