body {
    background: rgb(233, 233, 233);
    height: 100%;
    width: 65em;
    margin: 0 auto;
    padding: 3em;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    /* flex horizontalement */
    display: flex;
    flex-wrap: wrap;
}

#editor {
    height: 200px;
    background: white;
}

#saveButton {
    background: rgb(0,174,255);
    color: white;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 1em;
    margin-top: 2em;
}
footer {
    position: fixed;
    left:0;
    bottom :0;
    width: 100%;
    background: orange;
    color: black;
    text-align: center;
}
header{
    position: fixed;
    height: 5%;
    top:0;
    right: 0;
    width: 100%;
    background: orange;
    color: black;
    text-align: left;
}
.sidenav {
    height: 90%;
    width: 100px;
    margin-right: 100px;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 0;
    background-color: grey;
    overflow-x: hidden;
    padding-top: 20px;
}

#liste_article {
    display: flex;
    flex-direction: column;
}