sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: aliceblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar div {
    padding: 8px 8px 8px 30px;
    font-size: 24px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 24px;
    cursor: pointer;
    text-align:center;
    background-color: lightblue;
}

#main {
    transition: margin-left .5s;
}