body {
    background: rgb(233, 233, 233);
    height: 100%;
    width: 65em;
    margin: 0 auto;
    padding: 3em;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
p
{
    border: 0.5px black solid;
    border-radius:5px;
    margin: auto;
}
section
{
    background-color:gray;
    margin: 10px 10px 10px 10px;
}

header{
    position: fixed;
    height: 5%;
    top:0;
    right: 0;
    width: 100%;
    background: orange;
    color: black;
    text-align: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: orange;
    color: black;
    text-align: center;
}