header{
    position: fixed;
    height: 5%;
    top:0;
    right: 0;
    width: 100%;
    background: orange;
    color: black;
    text-align: left;
}

body {
    background: white;
    height: 100%;
    width: 65em;
    margin: 0 auto;
    padding: 3em;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    /* flex horizontalement */
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4 {
    font-family: ui-serif;
}
.quiz_done{
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    bottom: 5%;
    right: 2%;
}

