<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.CommentaireMapper">

    <select id="selectByArticle" resultType="ca.usherbrooke.gegi.server.business.Commentaire">
        SELECT
            id_commentaire,
            commentaire_content,
            cip,
            id_article,
            date_commentaire
        FROM
            astanble.commentaire
        WHERE id_reponse_commentaire IS NULL AND id_article = #{id_article}
        ORDER BY date_commentaire;
    </select>

    <select id="selectReponseByCommentaire" resultType="ca.usherbrooke.gegi.server.business.ReponseCommentaire">
        SELECT
            id_commentaire,
            commentaire_content,
            cip,
            id_reponse_commentaire,
            date_commentaire
        FROM
            astanble.commentaire
        WHERE id_reponse_commentaire = #{id_commentaire}
        ORDER BY date_commentaire;
    </select>

    <select id="selectAuthorOfCommentaire" resultType="ca.usherbrooke.gegi.server.business.Usager">
        SELECT cip, nom_usager, prenom_usager
        FROM astanble.usager
        WHERE cip = #{cip};
    </select>

    <insert id="insertCommentaire">
        INSERT INTO astanble.commentaire(commentaire_content, cip, id_article, date_commentaire)
        VALUES (#{commentaire.commentaire_content}, #{commentaire.cip}, #{commentaire.id_article}, #{commentaire.date_commentaire}::date);
    </insert>

    <insert id="insertReponseCommentaire">
        INSERT INTO astanble.commentaire(commentaire_content, cip, id_article, id_reponse_commentaire, date_commentaire)
        VALUES (#{commentaire.commentaire_content}, #{commentaire.cip}, #{commentaire.id_article}, #{commentaire.id_reponse_commentaire}, #{commentaire.date_commentaire}::date);
    </insert>

</mapper>
