<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.QuestionTypeMapper">
    <select id="all" resultType="ca.usherbrooke.gegi.server.business.QuestionType">
        SELECT
            *
        FROM
            astanble.type_question
    </select>
</mapper>
