<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.QuestionMapper">

    <select id="select" resultType="ca.usherbrooke.gegi.server.business.Question">
        SELECT * FROM astanble.question;
    </select>

    <select id="selectByQuiz" resultType="ca.usherbrooke.gegi.server.business.Question">
        SELECT * FROM astanble.question WHERE id_quiz = #{id_quiz} ORDER BY num_question;
    </select>

    <select id="selectByReponse" resultType="ca.usherbrooke.gegi.server.business.Question">
        SELECT * FROM astanble.reponse WHERE id_question = #{id_question};
    </select>

    <select id="selectByName" resultType="ca.usherbrooke.gegi.server.business.Question">
        SELECT * FROM astanble.question as q
        LEFT JOIN astanble.quiz as qu ON q.id_quiz= qu.id_quiz
        WHERE qu.nom_quiz= #{name}
    </select>

    <select id="selectByID" resultType="ca.usherbrooke.gegi.server.business.Question">
        SELECT * FROM astanble.question WHERE id_question=#{id_question}
    </select>

    <select id="selectByType" resultType="ca.usherbrooke.gegi.server.business.Question">
        SELECT * FROM astanble.question WHERE id_type=#{id_type}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="question.id_question" keyColumn="id_question">
    INSERT INTO astanble.question(
        num_question,
        question_content,
        id_quiz,
        cip,
        id_type
    )
    VALUES (#{question.num_question},
            #{question.question_content},
            #{question.id_quiz},
            #{question.cip},
            #{question.id_type})
    </insert>

    <update id="update">
    UPDATE astanble.question
    SET num_question= #{question.num_question},
        question_content = #{question.question_content},
        id_quiz= #{question.id_quiz},
        cip= #{question.cip},
        id_type= #{question.id_type}
    WHERE id_question = #{question.id_question}::int
    </update>

    <delete id="delete">
    DELETE FROM astanble.question
    WHERE id_question= #{id_question}::int
    </delete>


</mapper>
