<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.QuizMapper">

    <select id="select" resultType="ca.usherbrooke.gegi.server.business.Quiz">
        SELECT * FROM quiz
    </select>

    <select id="selectQuestionsByQuiz" resultType="ca.usherbrooke.gegi.server.business.Question">
        SELECT * FROM question WHERE id_quiz = {#id_quiz}
    </select>

    <select id="selectReponsesByQuestion" resultType="ca.usherbrooke.gegi.server.business.Reponse">
        SELECT * FROM reponse WHERE id_question = {#id_question}
    </select>

    <select id="selectByName" resultType="ca.usherbrooke.gegi.server.business.Quiz">
        SELECT * FROM quiz WHERE nom_quiz = {#name}

    </select>

    <select id="selectByID" resultType="ca.usherbrooke.gegi.server.business.Quiz">

    </select>

    <select id="selectByAuthor" resultType="ca.usherbrooke.gegi.server.business.Quiz">

    </select>

    <insert id="insert">

    </insert>

    <update id="update">

    </update>

    <delete id="delete">

    </delete>


</mapper>
