<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.QuizMapper">

    <select id="select" resultType="ca.usherbrooke.gegi.server.business.Quiz">
        SELECT * FROM astanble.quiz;
    </select>

    <select id="selectQuestionsByQuiz" resultType="ca.usherbrooke.gegi.server.business.Question">
        SELECT * FROM astanble.question WHERE id_quiz = #{id_quiz}
    </select>

    <select id="selectReponsesByQuestion" resultType="ca.usherbrooke.gegi.server.business.Reponse">
        SELECT * FROM astanble.reponse WHERE id_question = #{id_question}
    </select>

    <select id="selectByName" resultType="ca.usherbrooke.gegi.server.business.Quiz">
        SELECT * FROM astanble.quiz WHERE nom_quiz = #{name}

    </select>

    <select id="selectByID" resultType="ca.usherbrooke.gegi.server.business.Quiz">
        SELECT * FROM astanble.quiz WHERE id_quiz = #{id}
    </select>

    <select id="selectByAuthor" resultType="ca.usherbrooke.gegi.server.business.QuizAuthor">
        SELECT * FROM astanble.view_usager_quiz_relation
        WHERE cip = #{auteur} AND nom_relation = 'Auteur' OR nom_relation = 'Co-Auteur';
    </select>

    <select id="selectNotAuthor" resultType="ca.usherbrooke.gegi.server.business.QuizAuthor">
        SELECT * FROM astanble.view_usager_quiz_relation
        WHERE cip != #{user_cip};
    </select>

    <select id="selectByQuestionRepondue" resultType="ca.usherbrooke.gegi.server.business.QuizFait">
        SELECT id_quiz, nom_quiz, date_time_response
        FROM astanble.view_quiz_usager_reponse
        WHERE cip = #{cip}
        GROUP BY id_quiz,nom_quiz, date_time_response;
    </select>

    <select id="selectAuthorByQuiz" resultType="ca.usherbrooke.gegi.server.business.Usager">
        SELECT
        cip,
        prenom_usager,
        nom_usager,
        nom_complet_usager
        FROM astanble.view_usager_quiz_relation
        WHERE id_quiz = #{id_quiz}
        AND nom_relation = 'Auteur' OR nom_relation = 'Co-Auteur';
    </select>

    <select id="selectByQuizAndAutor" resultType="ca.usherbrooke.gegi.server.business.Usager">
        SELECT
        cip,
        prenom_usager,
        nom_usager,
        nom_complet_usager
        FROM astanble.view_usager_quiz_relation
        WHERE id_quiz = #{id_quiz} AND cip = #{cip}
        AND nom_relation = 'Auteur' OR nom_relation = 'Co-Auteur';
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="quiz.id_quiz" keyColumn="id_quiz">
        INSERT INTO astanble.quiz(
        nom_quiz,
        description_quiz)
        VALUES (#{quiz.nom_quiz},#{quiz.description_quiz})
    </insert>

    <insert id="insertCollabQuiz">
        INSERT INTO astanble.usager_quiz(
            cip,
            id_quiz,
            id_relation)
        VALUES  (#{cip},
                 #{id_quiz},
                 #{id_relation});
    </insert>

    <update id="update">
        UPDATE astanble.quiz
        SET nom_quiz = #{quiz.nom_quiz},
            description_quiz = #{quiz.description_quiz}
        WHERE id_quiz = #{quiz.id_quiz}::int
    </update>

    <delete id="delete">
        DELETE FROM astanble.quiz
        WHERE id_quiz = #{id_quiz}::int
    </delete>


</mapper>
