<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.ReponseMapper">

    <select id="select" resultType="ca.usherbrooke.gegi.server.business.Reponse">
        SELECT * FROM astanble.reponse;
    </select>

    <select id="selectByQuestion" resultType="ca.usherbrooke.gegi.server.business.Reponse">
        SELECT * FROM astanble.view_reponse_quizname WHERE id_question = #{id_question};
    </select>

    <select id="selectByName" resultType="ca.usherbrooke.gegi.server.business.Reponse">
        SELECT * FROM astanble.view_reponse_quizname
        WHERE nom_quiz = #{name};

    </select>

    <select id="selectByID" resultType="ca.usherbrooke.gegi.server.business.Reponse">
        SELECT * FROM astanble.reponse WHERE id_reponse =#{id_reponse};
    </select>

    <select id="selectByAuthor" resultType="ca.usherbrooke.gegi.server.business.Reponse">
        SELECT * FROM astanble.view_quiz_usager_reponse
        WHERE cip = #{auteur} AND nom_relation = 'Auteur' OR nom_relation = 'Co-Auteur'

    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="reponse.id_reponse" keyColumn="id_reponse">
        INSERT INTO astanble.reponse(
            reponse_content,
            bonne_mauvaise,
            id_question
        )
        VALUES (#{reponse.reponse_content},
                #{reponse.bonne_mauvaise},
                #{reponse.id_question})
    </insert>

    <update id="update">
        UPDATE astanble.reponse
        SET reponse_content= #{reponse.reponse_content},
            bonne_mauvaise=#{reponse.bonne_mauvaise},
            id_question=#{reponse.id_question}
        WHERE id_reponse=#{reponse.id_reponse}::int
    </update>

    <delete id="delete">
        DELETE FROM astanble.reponse
        WHERE id_reponse=#{id_reponse}::int
    </delete>


</mapper>
