<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.ThematiqueMapper">
    <select id="select" resultType="ca.usherbrooke.gegi.server.business.Thematique">
        SELECT
            id_thematique,
            nom_thematique
        FROM
            astanble.thematique
    </select>

    <select id="selectByArticleId" resultType="ca.usherbrooke.gegi.server.business.Thematique">
        SELECT
            id_thematique,
            nom_thematique
        FROM
            astanble.view_article_thematique
        WHERE
            id_article = ${id_article}::int

    </select>

    <delete id="delete">
        DELETE FROM astanble.thematique
        WHERE id_thematique = #{id_thematique}::int;
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="thematique.id_thematique" keyColumn="id_thematique">
        INSERT INTO astanble.thematique(
            nom_thematique)
        VALUES  (#{thematique.nom_thematique});
    </insert>
    
</mapper>
