<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.WikiMapper">

    <select id="select" resultType="ca.usherbrooke.gegi.server.business.ArticleAuthor">
        SELECT
            id_article,
            nom_article,
            content,
            description_robot_article,
            description_article
        FROM
            astanble.article
        ORDER BY id_article
    </select>

    <select id="selectAuthorOfArticle" resultType="ca.usherbrooke.gegi.server.business.Usager">
        SELECT usager.cip, usager.nom_usager, usager.prenom_usager, usager.courriel1, usager.courriel2, nom_complet_usager
        FROM astanble.view_usager_wiki
                 LEFT JOIN astanble.usager ON astanble.view_usager_wiki.cip = astanble.usager.cip
        WHERE id_article = #{id}::int
          AND nom_relation = 'Auteur'
    </select>

    <select id="selectAuthorAndCoAuthorOfArticle" resultType="ca.usherbrooke.gegi.server.business.Usager">
        SELECT usager.cip, usager.nom_usager, usager.prenom_usager, usager.courriel1, usager.courriel2, nom_complet_usager
        FROM astanble.view_usager_wiki
                 LEFT JOIN astanble.usager ON astanble.view_usager_wiki.cip = astanble.usager.cip
        WHERE id_article = #{id}::int
          AND nom_relation = 'Auteur' OR nom_relation = 'Co-Auteur'
    </select>

    <select id="selectAllCollabOfArticle" resultType="ca.usherbrooke.gegi.server.business.Usager">
        SELECT usager.cip, usager.nom_usager, usager.prenom_usager, usager.courriel1, usager.courriel2, nom_complet_usager
        FROM astanble.view_usager_wiki
                 LEFT JOIN astanble.usager ON astanble.view_usager_wiki.cip = astanble.usager.cip
        WHERE id_article = #{id}::int
    </select>

    <select id="selectByName" resultType="ca.usherbrooke.gegi.server.business.Article">
        SELECT
            id_article,
            nom_article,
            content,
            description_robot_article,
            description_article
        FROM
            astanble.article
        WHERE LOWER(nom_article) LIKE lower('%'||#{article}||'%')
    </select>

    <select id="selectByAuthor" resultType="ca.usherbrooke.gegi.server.business.Article">
        SELECT
            id_article,
            nom_article,
            content,
            cip,
            nom_complet_usager,
--             description_robot_article,
            description_article
        FROM
            astanble.view_usager_wiki

        WHERE lower(nom_complet_usager) like lower('%'|| #{auteur}||'%')
        AND type_relation.nom_relation = 'Auteur'
--relation = author?
    </select>

    <select id="selectByThematique" resultType="ca.usherbrooke.gegi.server.business.ArticleAuthor">
        SELECT
            a.id_article,
            a.nom_article,
            a.content,
            a.description_robot_article,
            a.description_article
        FROM
            astanble.article AS a

        JOIN astanble.article_thematique AS at
        ON at.id_article = a.id_article

        WHERE at.id_thematique = #{id_thematique}::int;
    </select>

    <select id="selectById" resultType="ca.usherbrooke.gegi.server.business.ArticleAuthor">
        SELECT
            id_article,
            nom_article,
            content,
            description_robot_article,
            description_article
        FROM
            astanble.article
        WHERE id_article = #{id_article}::int;
    </select>


    <select id="selectSearchByName" resultType="ca.usherbrooke.gegi.server.business.ArticleAuthor">
        SELECT * FROM astanble.article
        WHERE astanble.SIMILARITY(nom_article,  #{nom_article}) > 0.1
        ORDER BY astanble.SIMILARITY(nom_article,   #{nom_article}) DESC
            LIMIT 100;
    </select>

    <select id="selectSearchByAuthor" resultType="ca.usherbrooke.gegi.server.business.ArticleAuthor">
        SELECT * FROM astanble.view_usager_wiki
        WHERE astanble.SIMILARITY(prenom_usager,  #{prenom_usager}) > 0.1 or
              astanble.SIMILARITY(nom_usager, #{prenom_usager}) > 0.1
        ORDER BY astanble.SIMILARITY(prenom_usager,   #{prenom_usager}) DESC
            LIMIT 100;
    </select>

    <select id="selectSearchByDescription" resultType="ca.usherbrooke.gegi.server.business.ArticleAuthor">
        SELECT * FROM astanble.article
        WHERE astanble.SIMILARITY(description_article,  #{description_article}) > 0.1
        ORDER BY astanble.SIMILARITY(description_article,   #{description_article}) DESC
            LIMIT 100;
    </select>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="article.id_article" keyColumn="id_article">
        INSERT INTO astanble.article(
            nom_article,
            content,
            description_article)
        VALUES  (#{article.nom_article},
                 #{article.content},
                 #{article.description_article});
    </insert>

    <update id="update" >
    UPDATE astanble.article
    SET nom_article = #{article.nom_article},
        content = #{article.content},
        description_article = #{article.description_article}
    WHERE id_article = #{article.id_article}::int;
    </update>

    <delete id="delete">
    DELETE FROM astanble.article
    WHERE id_article = #{id_article}::int;
    </delete>

    <insert id="insertArticleCollab">
        INSERT INTO astanble.usager_article_collaboration(
            id_relation,
            cip,
            code_article)
        VALUES  (#{id_relation},
                 #{cip},
                 #{code_article});
    </insert>

</mapper>
