<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.gegi.server.persistence.WikiMapper">

    <select id="select" resultType="ca.usherbrooke.gegi.server.business.Wiki">
        SELECT
            id_article,
            nom_article,
            content,
            description_robot_article,
            description_article
        FROM
            astanble.article
    </select>

    <select id="selectByName" resultType="ca.usherbrooke.gegi.server.business.Wiki">
    </select>

    <select id="selectByAuthor" resultType="ca.usherbrooke.gegi.server.business.Wiki">
    </select>

    <select id="selectByThematique" resultType="ca.usherbrooke.gegi.server.business.Wiki">
    </select>

    <select id="selectById" resultType="ca.usherbrooke.gegi.server.business.Wiki">
    </select>

    <select id="insert" resultType="ca.usherbrooke.gegi.server.business.Wiki">
    </select>

    <select id="update" resultType="ca.usherbrooke.gegi.server.business.Wiki">
    </select>
</mapper>
