body {
    background: white;
    height: 100%;
    width: 65em;
    margin: 0 auto;
    padding: 3em;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    /* flex horizontalement */
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4 {
    font-family: ui-serif;
}

meta{
    display:none;
}

.choix-theme-container {
    width: 46%;
    max-width: 500px;
    min-width: 350px;
}

#liste_article {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#liste_article a {
    font-size: 20px;
    color: #0f0f0f;
    text-decoration: none;
}

#liste_article span {
    position: relative;

}

#liste_article span:after {
    content: "";
    height: 1px;
    left: 7px;
    right: 7px;
    position: absolute;
    bottom: -3px;
    background-color: rgba(0, 9, 61, .10);
}

#liste_article a:hover {
    color: #6e6e67;
}

#champSearch {
    height: 25px;
    padding-left: 10px;
    border: 0.5px black solid;
    border-radius: 20px;
    width: 40%;
    min-width: 200px;
    max-width: 325px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: aliceblue;
    /*overflow-x: hidden;*/
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #4b4b4b;
    display: block;
}

.sidenav a:hover {
    color: #6e6e67;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: aliceblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav div {
    position: relative;
    padding: 8px 8px 8px 30px;
    font-size: 24px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 24px;
    cursor: pointer;
    text-align:center;
    background-color: lightblue;
}

#main {
    transition: margin-left .5s;
}

.filtreThemeBtn {
    position: fixed;
    width:117px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 1;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.accordion-button:focus {
    box-shadow: none;
}

.pastille {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 1.5;
    text-align: left!important;
    pointer-events: auto;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 500;
    margin-right: 3.75px;
    margin-bottom: 3.75px;
    background-color: #00bcd4;
    border: 1px solid #00a5bb;
    color: #fff;
    word-break: break-all;
    box-sizing: border-box;
}

.decorated-button {
    background: rgb(0,174,255);
    color: white;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
    margin-top: 10px;
}

.webix_transparent .webix_button {
    color: #000000 !important;
}

#user_profil_nav {
    color: #000000 !important;
}

.image_user_icon {
    width:50px;
    height: 50px;
    background: #10b981;
    margin-top:20px
}

.rep-btn {
    padding: .35rem 1.05rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border: hsl(200, 20%, 92%);
    background: hsl(200, 20%, 99%);
    border-radius: .35em;
    cursor: pointer;
}

.rep-btn:hover {
    background-color: #00AEFF;
    color: #FFFFFF;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    color: #ffffff;
    display: grid;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
}

.card__link:hover::after {
    width: 100%;
}

.card__link:hover {
    color: #ffffff;
}

.card__exit {
    grid-row: 1/2;
    justify-self: end;
}

.card__exit:hover {
    cursor: pointer;
}

.card__icon {
    grid-row: 2/3;
    font-size: 30px;
}

.card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
}

.card__apply {
    grid-row: 4/5;
    align-self: center;
}

/* CARD BACKGROUNDS */

.card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
    background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
}

.card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
}

.rep-btn-2 {
    color: white;
    padding: .35rem 1.05rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border: hsl(200, 20%, 92%);
    background: radial-gradient(#f588d8, #c0a3e5);
    border-radius: .35em;
    cursor: pointer;
}

.rep-btn-2:hover {
    background: radial-gradient(#f588d8, #c0a3e5);
    transform: scale(1.08);
}
/* RESPONSIVE */

@media (max-width: 1600px) {
    .cards {
        justify-content: center;
    }
}
