body {
    background: white;
    height: 100%;
    width: 65em;
    margin: 0 auto;
    padding: 3em;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    /* flex horizontalement */
    display: flex;
    flex-wrap: wrap;
}

meta{
    display:none;
}

.choix-theme-container {
    width: 46%;
    max-width: 500px;
    min-width: 350px;
}

#liste_article {
    display: flex;
    flex-direction: column;
}

#liste_article a{
    color: #0f0f0f;
    text-decoration: none;
}

#liste_article a:hover {
    color: #1e844a;
}

#champSearch {
    height: 25px;
    padding-left: 10px;
    border: 0.5px black solid;
    border-radius: 20px;
    width: 40%;
    min-width: 200px;
    max-width: 325px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    background-color: #1c1c1c;
    /*overflow-x: auto;*/
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #5c5c5c;
}